@page "/"
@inject IAntiforgeryHttpClientFactory httpClientFactory

<h1>GraphQL</h1>

@code
{
    private string ChannelsQuery = @"
        query Channels {
          channels {
            id
            name
            description
          }
        }
        ";

    protected override async Task OnInitializedAsync()
    {
        var client = await httpClientFactory.CreateClientAsync();

        var response = await client.PostAsJsonAsync<GraphQLRequest>("api/graphql", new GraphQLRequest()
        {
            Query = ChannelsQuery
        });

        var result = await response.Content.ReadAsStringAsync();
    }

    public class GraphQLRequest
    {
        public string Query { get; set; }
    }
}
