@page "/"
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    @* This line includes the style from the "main.ts" entrypoint *@
    <link rel="stylesheet" vite-href="~/src/index.tsx" asp-append-version="true" />
</head>
<body>
<main role="main" id="root">
    
</main>

<!-- This line includes your "main.ts" entrypoint -->
<script type="module" vite-src="~/src/index.tsx"></script>
</body>
</html>